<!-- Modal de Bootstrap -->
<div class="modal fade" id="botsModal" tabindex="-1" aria-labelledby="botsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="botsModalLabel">All tickers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 800px; overflow-y: auto;">
                <div class="table-responsive">
                    <table class="table table-custom">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticker in tickers %}
                                <tr>
                                    <td>
                                        {{ ticker.Name }}
                                    </td>
                                    <td>
                                        <a href='/backtest/ticker/{{ ticker.Id }}?strategy_id={{ strategy_id }}'>Family</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
